<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selectable Table</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://cdn.syncfusion.com/13.2.0.29/js/web/flat-azure/ej.web.all.min.css" />
    <script src="http://cdn.syncfusion.com/13.2.0.29/js/web/ej.web.all.min.js"> </script>


    <script>
        $(document).ready(function () {
            $('#bt').click(function () {

                $.ajax({
                    url: "{{ url_for('data_api')}}",
                    type: 'GET',
                    dataType: 'json',
                    success: function (response) {

                        $('#result').text('success');
                        $('#get').text(response.firstdata);
                    },
                    error: function () {
                        $('#result').text('fail');
                    }

                })

                // $('#get').text('i am clicked');
            })

        })

        $(function () {
            $('#Grid').ejGrid({
                dataSource: shipDetails
            });
        });

        var shipDetails = [
            { Name: 'Hanari Carnes', City: 'Brazil' },
            { Name: 'Split Rail Beer & Ale', City: 'USA' },
            { Name: 'Ricardo Adocicados', City: 'Brazil' }
        ];


    </script>
    <style>
        body {
            background-color: blanchedalmond;
        }
    </style>
</head>

<body>
    <h1>selection table</h1>
    <div style='color: blue;font-weight: bold;'>
        {% if username %}
        <p> User: {{ username }}</p>
        {% else %}
        <p>Not login</p>
        {% endif%}
    </div>
    <hr>
    <div id="grid"></div>
    <input type="button" value="get" id="bt">
    <div id="result"></div>
    <div id="get">

    </div>
</body>

</html>